@*@model MvcStok.Models.Entity.TBLURUNLER*@

@model  Class1

@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

@*<script>

        $(function () {

            $('#DrpKtg').change(function () {

                var id = $('#DrpKtg').val();

                $.ajax({

                    url: '/Urun/altkategorigetir',

                    data: { p: id },

                    type: "POST",

                    dataType: "Json",

                    success: function (data) {

                        console.log(data);

                        $('#DrpAltktg').empty();

                        for (var i = 0; i < data.length; i++) {

                            $('#DrpAltktg').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</Option>");
                           

                        }

                        



                    }

                })

                

            });



        });



        $(function () {

            $('#DrpAltktg').change(function () {

                var id = $('#DrpAltktg').val();

                $.ajax({
                    url: '/Urun/markagetir',

                    data: { p: id },

                    type: "POST",

                    dataType: "Json",

                    success: function (data) {

                        console.log(data);

                        $('#DrpMarka').empty();

                        for (var i = 0; i < data.length; i++) {

                            $('#DrpMarka').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</Option>");

                        }

                    }




                });


            });

        });
 </script>*@

<script>

    $(document).ready(function () {



        $('#DrpKtg').change(function () {
            var id = $(this).val();
            $('#DrpAltktg').empty();
            $.get("altkategorigetir", { p: id }, function (data) {
                var v = "<option>---select----</option>";
                $.each(data, function (i, v1) {
                    v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                });
                $("#DrpAltktg").html(v);



            });
        });


        $('#DrpAltktg').change(function () {
            var id = $(this).val();
            $('#DrpMarka').empty();
            $.get("markagetir", { p: id }, function (data) {
                var v = "<option>---select----</option>";
                $.each(data, function (i, v1) {
                    v += "<option value=" + v1.Value + ">" + v1.Text + "</option>";
                });
                $("#DrpMarka").html(v);

            });
        });

    });

   

 </script>




<form method="post" class="form-group">

    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="URUNAD" required="" maxlength="30" />
    </div>
    <br />

    <div>
        <label>Kategori Seçiniz</label>

        @Html.DropDownList("DrpKtg", Model.Kategoriler, "--- Kategori Seçiniz ---", new { @class = "form-control" })



    </div>

    <br />

    <div>
        <label>Alt Kategori Seçiniz</label>

        @Html.DropDownList("DrpAltktg", Model.AltKategoriler, "--- Alt Kategori Seçiniz ---", new { @class = "form-control" })

    </div>

    <br />

    <div>
        <label>Marka Seçiniz </label>

        @Html.DropDownList("DrpMarka", Model.Markalar, "--- Marka Seçiniz ---", new { @class = "form-control" })

    </div>
    <br />

    <div>
        <label>Fiyatı</label>
        <input type="text" class="form-control" name="FIYAT" />
    </div>
    <div>
        <label>Stok Adet</label>
        <input type="text" class="form-control" name="STOK" />
    </div>

    <div>
        <button style="margin-top:15px" class="btn btn-info">Ürün Ekle</button>
    </div>


</form>












